.add-dog-container, .dog-guide-edit-container {
    background-image: url('../images/background-onboarding-opacity.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    ::placeholder {
        color: #e1e1e1;
    }
}

.add-dog-illustration1 {
    margin: 0;
    width: 375px;
    height: 159px;
    opacity: 0.5;
    background-color: #e1e1e1;
}

.add-dog-back-box {
    width: 89.4%;
    margin: 57px 0 10px 0;
}

.back-icon {
        background-image: url('../images/light.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 15px;
        height: 24px;
}

.dog-part-1 {
    margin: 94px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dog-part-1-box {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 89.3%;
    
    p {
        margin: 0;
        height: 112px;
        font-size: 20px;
        font-weight: 600;
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Thin';
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #ffffff;
    }

    form {
        margin: 50px 0 0 0;
    }

    label {
        margin: 0;
        width: 335px;
        height: 82px;
        font-size: 35px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #ffffff;
    }

    input {
        margin: 30px 0 0 0;
        padding: 0 0 0 20px;
        width: 335px;
        height: 48px;
        border-radius: 10px;
        border: solid 2.5px #b2dcf4;
        background-color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #535353;
    }
}

.dog-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin: 50px 0 0 0;
        width: 159.8px;
        height: 45.6px;
        border-radius: 27px;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
        background-color: #a2d5f2;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #191919;
    }

    button:disabled {
        background-color: #cecece;
    }
}

.dog-part-2 {
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dog-breed-label {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 89.3%;

    label {
        margin: 0;
        width: 335px;
        height: 41px;
        font-size: 35px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #ffffff;
    }

    input {
        margin: 60px 0 30px 0;
        padding: 0 0 0 20px;
        width: 335px;
        height: 48px;
        border-radius: 10px;
        border: solid 2.5px #b2dcf4;
        background-color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #535353;
    }
}

.dog-breed-list {
    width: 100%;
    height: 555px;
    overflow: scroll;
}

.dog-breed-box {
    background-color: white;
    width: 100%;
    height: 44px;
    border-top: solid 1px #85afc7;
    display: flex;
    align-items: center;

    h2 {
        margin: 0 0 0 20px;
        width: 335px;
        height: 20px;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #535353;
    }
}

.dog-breed-select-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        margin: 41px 0 0 0;
        width: 159.8px;
        height: 45.6px;
        border-radius: 27px;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
        background-color: #a2d5f2;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #191919;
    }

    button:disabled {
        background-color: #cecece;
    }
}

.dog-breed-selected {
    width: 88.3%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        margin: 0 0 0 20px;
        width: 101px;
        height: 21px;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #ffffff;
    }
}

.delete-icon {
    background-image: url('../images/cross.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 26px;
}

.dog-part-3 {
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 89.3%;

        h1 {
            margin: 0 0 30px 0;
            width: 335px;
            height: 41px;
            font-size: 35px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            color: #ffffff;
        }

        p {
            margin: 218px 0 0 0;
            width: 335px;
            height: 56px;
            font-size: 20px;
            font-family: 'FontsFree-Net-SF-Pro-Rounded-Thin';
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.4;
            letter-spacing: normal;
            color: #c3e4f6;
        }

        label {
            width: 167.5px;
            height: 17px;
            font-size: 14px;
            font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: 0.3px;
            color: #ffffff;
        }
}

.nxt-btn {
    position: absolute;
    bottom: 65px;
    width: 159.8px;
    height: 42.3px;
    border-radius: 27px;
    background-color:#c3e4f6;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #191919;
}

.nxt-btn:disabled {
    background-color: #cecece;
}

#date-picker-inline {
    color: white;
    width: 250px;
}

.datepicker {
    width: 335px;
    color: white;
}

.dog-date-box {
    margin: 0;
    display: flex;
    flex-direction: column;

    label {
        margin: 30px 0 0 0;
        width: 167.5px;
        height: 17px;
        font-size: 14px;
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #535353;
    }

    .date-input {
        margin: 10px 0 0 0;
        padding: 0 0 0 20px;
        width: 312px;
        height: 48px;
        border-radius: 10px;
        border: solid 1.5px #939393;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #535353;
    }
}

.dog-age-control {
    margin: 41px 0 15px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 20px;
        height: 20px;
    }
}

.age-control {
    width: 32px;
    height: 32px;
    background-color: #939393;
    border-radius: 50%;
}

.dog-age-box {
    margin: 0 19.5px;
    width: 61px;
    height: 48px;
    border-radius: 10px;
    border: solid 2.5px #cecece;
    background-color: #ffffff;

    p {
        margin: 0;
        width: 100%;
        height: 100%;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #939393;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.hidden {
    display: none;
}

.dog-age-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        margin: 0;
        width: 72px;
        height: 21px;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #ffffff;
    }
}

.dog-next-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dog-part-4 {
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 89.3%;

        label {
            margin: 0;
            width: 335px;
            height: 82px;
            font-size: 35px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            color: #ffffff;
        }
}

.gender-btn-box {
    margin: 35px 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin: 0 25px 59.2px 0;
        width: 100px;
        height: 45px;
        border-radius: 24.5px;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.37);
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #191919;
    }
}

.dog-next-btn-box {
    button {
        width: 159.8px;
        height: 45.6px;
        border-radius: 27px;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
        background-color: #a2d5f2;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #191919;
    }
}

.male {
    background-color: #3483b0;
    border: none;
}

.female {
    background-color: #f9f9f9;
}

.dog-part-5 {
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 89.3%;

    form {
        h1 {
            margin: 0;
            width: 335px;
            height: 82px;
            font-size: 35px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            color: #ffffff;
        }
    }
}

.dog-avatar-container {
    margin: 30px 0 30px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.dog-avatar-option {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        margin: 0 0 30px 0;
        background-color: white;
        width: 15px;
        height: 15px;
    }
}

.dog-avatar-box {
    margin: 0 0 15px 0;
    width: 85px;
    height: 85px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.41);
    background-color: #d8d8d8;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: auto;
    }
}

.dog-part-6 {
    margin: 94px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-dog-illustration2 {
    width: 375px;
    height: 155px;
    opacity: 0.5;
    background-color: #e1e1e1;
}

.dog-part-6-box {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 89.3%;

    h1 {
        margin: 0 0 3px 0;
        width: 240px;
        height: 41px;
        font-size: 35px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #ffffff;
    }
    
    p {
        margin: 0;
        width: 335px;
        height: 84px;
        font-size: 20px;
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Thin';
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #ffffff;
    }

    button {
        margin: 15px 0 0 0;
        width: 335px;
        height: 51px;
        border-radius: 28px;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
        background-color: #a2d5f2;
    }
}

.dog-chapters {
    margin: 30px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dog-chapter {
    margin: 0 0 35px 0;
    display: flex;
    align-items: center;

    p {
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
        width: 295px;
        height: 27px;
        font-size: 18px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
        color: #ffffff;
    }
}

.chapter-icon {
    margin: 0 15px 0 0;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background-color: #e1e1e1;
}


.dog-part-7 {
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 89.3%;

    form {
        display: flex;
        flex-direction: column;
        
        label {
            margin: 25px 0 6px 0;
            font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
            width: 335px;
            height: 27px;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.3px;
            color: #ffffff;
        }
    }
}

.foodbrand {
        padding: 0 0 0 20px;
        width: 335px;
        height: 48px;
        border-radius: 10px;
        border: solid 2.5px #b2dcf4;
        background-color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #535353;
}

.dog-chapter-title-box {
    margin: 0 0 5px 0;
    display: flex;
    align-items: center;

    h1 {
        margin: 0;
        width: 285px;
        height: 41px;
        font-size: 35px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #ffffff;
    }
}

.chapter-icon-big {
    margin: 0 10px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.diet-big {
    background-color: #ffa190;
}

.diet-amount-box {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        width: 48px;
        height: 21px;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #535353;
    }
}

.food-amount-control {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.min {
    background-color: #939393;
}

.plus {
    background-color: #ff8974;
}

.empty {
    width: 50px;
}

#diet-grams {
        margin: 0 21.3px;
        width: 82px;
        height: 48px;
        border-radius: 10px;
        border: solid 2.5px #b2dcf4;
        background-color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #535353;
        text-align: center;
}

#grams-box {
    margin: 0 0 0 20px;

    p {
        width: 48px;
        height: 27px;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #ffffff;
    }
}

.diet-amount {
    margin: 0 21.3px;
    width: 82px;
    height: 48px;
    border-radius: 10px;
    border: solid 2.5px #b2dcf4;
    background-color: #ffffff;

    p {
        margin: 0;
        width: 100%;
        height: 100%;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #535353;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.human-food-btn-box {
    margin: 5px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin: 0 25px;
        width: 100px;
        height: 45px;
        opacity: 0.65;
        border: none;
        border-radius: 24.5px;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #191919;
    }
}

.human-no {
    background-color: #e31616;
}

.human-yes {
    background-color: #56db46;
}

#food-next-btn {
        position: absolute;
        bottom: 55.5px;
        margin: 36px 0 0 0;
        width: 159.8px;
        height: 42.3px;
        border-radius: 27px;
        background-color: #a2d5f2;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #191919;
}

#food-nxt-btn:disabled {
    background-color: #cecece;
}

.dog-part-8 {
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 89.3%;

    label {
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
        width: 335px;
        height: 27px;
        font-size: 18px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
        color: #ffffff;
    }

    button {
        margin: 70px 0 0 0;
        width: 159px;
        height: 54px;
        border-radius: 27px;
        background-color: #535353;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
    }
}

.activity-big {
    background-color: #619ec1;
}

.walk-label {
    margin: 30px 0 6px 0;
}

.poop-label {
    margin: 0 0 6px 0;
}

.activity-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    p {
        width: 48px;
        height: 54px;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #ffffff;
    }
}

.activity-amount-box {
    margin: 0 20px 31px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        width: 48px;
        height: 21px;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #535353;
    }
}

.activity-amount-control {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.activity-amount {
    margin: 0 21.3px;
    width: 82px;
    height: 48px;
    border-radius: 10px;
    border: solid 2.5px #b2dcf4;
    background-color: #ffffff;

    p {
        margin: 0;
        width: 100%;
        height: 100%;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #535353;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.dog-part-9 {
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    form {
        margin: 10px 0 0 0;
        width: 100%;

        label {
            padding: 0 0 0 20px;
            margin: 15px 0 5px 0;
            font-size: 20px;
            font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
            width: 335px;
            height: 27px;
            font-size: 18px;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.3px;
            color: #ffffff;
        }

        input {
            padding: 0 0 0 20px;
            margin: 0;
            width: 100%;
            height: 32px;
            border: none;
            font-size: 18px;
            font-family: 'FontsFree-Net-SFProText-Regular-1';
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.43px;
            color: #e1e1e1;
        }

        p {
            width: 100%;
            margin: 0;
            padding: 0 0 0 20px;
            border: none;
            height: 21px;
            font-size: 18px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
        }

        button {
            margin: 29px 0 0 0;
            width: 159px;
            height: 54px;
            border-radius: 27px;
            background-color: #535353;
            font-size: 18px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            text-align: center;
            color: #ffffff;
        }
    }
}

.ambulance-nr {
    color: #ff7021;
}

.owner-info {
    color: #191919;
    background-color: #ffa190;
}

.ice-contact-info {
    background-color: #94c2dc;
}

.vet-info {
    background-color: #4097c9;
}

.emergency-big {
    background-color: #e1e1e1;
}

.dog-part-9-chapter {
    width: 89.3%;
}

.dog-part-10 {
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 89.3%;

    h2 {
        margin: 0;
        width: 335px;
        height: 56px;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #ffffff;
    }

    form {
        margin: 27px 0 0 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        

        div {
            width: 55px;
            height: 55px;
            border-radius: 5px;
            background-color: #d8d8d8;
        }
    }

    button {
        margin: 10px 0 0 0;
        width: 159px;
        height: 54px;
        border-radius: 27px;
        background-color: #535353;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
    }
}

.dictionary-big {
    background-color: #e1e1e1;
}

.dog-command-option-box {
    margin: 0 5px 46px 5px;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    background-color: #d8d8d8;
}

.dog-command-option {
    label {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            margin: 0 0 15px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.dog-translate {
    margin: 16px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.translate-label {
    font-family: 'FontsFree-Net-SFProText-Regular-1';
    width: 264px;
    height: 27px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
}

.switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #066397;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

.dog-dots-box {
    position: absolute;
    bottom: 26px;
    margin: 0 0 0 0;
    width: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dog-dot {
    width: 7px;
    height: 7px;
    background-color: #e1e1e1;
    border-radius: 50%;
}

.dog-dot-select {
    width: 7px;
    height: 7px;
    background-color: #1d75a7;
    border-radius: 50%;
}
