.dogguide-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:rgb(82, 68, 125)
}

.top-container {
    width: 100%;
    background-image: url('../images/background-top.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.back-box {
    position: absolute;
    top: 57.8px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dogguide-title {
    margin: 79px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
        font-size: 35px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
}

.guide-scroll {
    width: 100%;
    height: 662px;
    overflow: scroll;
}

.guide-title-box {
    width: 100%;
    height: 60px;
    box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #ff8974;
    display: flex;
    align-items: center;

    h2 {
        margin: 0 0 0 20px;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
        color: #ffffff;
    }
}

.guide-container {
    margin: 30px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.guide1 {
    height: 396px;
}

.guide2 {
    height: 347px;
}

.guide-box {
    margin: 0 0 30px 0;
    height: 45px;
    display: flex;
    align-items: flex-start;

    p {
        margin: -6px 0 0 0;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #ffffff;
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Thin';
    }

    span {
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
        color: #a2d5f2;
    }
}

.guide-bone, .guide-paw {
    margin: 0 12.1px 0 20px;
    width: 22.9px;
    height: 21px;
}

.guide-bone {
    background-image: url('../images/dogbone-blue.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.guide-paw {
    background-image: url('../images/dogpaw.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}