.doghome-container {
    width: 100%;
    height: 100%;
    background-image: url('../images/background-blue.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav {
    margin: 0 0 0 11px;
    position: absolute;
    top: 54px;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trackings-container {
    width: 100%;
}

.trackings-box {
    margin: 120px 0 0 0;
    width: 100%;

        .dog-day {
            width: 90%;
            font-size: 30px;
            margin: 0 0 0 21px;
            font-weight: 500;
            font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
            font-stretch: normal;
            font-style: normal;
            line-height: 1.4;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
    }
}

.dog-day {
        width: 90%;
        font-size: 30px;
        margin: 0 28px 0 0 ;
        font-weight: 500;
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
}


.dogprofile-icon {
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/dogspace.svg');
    width: 44px;
    height: 44px;
}


.userprofile-icon {
    background-image: url('../images/dogmanager.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.dogspace-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-trackings {
    margin: 120px 0 0 35px;
    
    p {
        margin: 20px 0 0 0;
        width: 335px;
        height: 28px;
        font-size: 20px;
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Thin';
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #ffffff;
    }

    span {
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
    }
}

.no-tracking-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dogspace-btn-box {
    margin: 0 0 0 20px;
    width: 89.3%;
    height: 371px;
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.walk-btn, .cookie-btn, .ice-btn, .dictionary-btn {
    width: 157px;
    height: 157px;
    border-radius: 15px;
    background-color: #ffffff;
}

.walk-btn {
    background-image: url('../images/undraw-directions-x-53-j.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.cookie-btn {
    background-image: url('../images/undraw-cookie-love-ulvn.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ice-btn {
    background-image: url('../images/undraw-notify-88-a-4-1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.dictionary-btn {
    background-image: url('../images/undraw-book-lover-mkck.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#modal-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: none;
}

#cookie-title {
    margin: 20px 95px 0 15px;
    width: 275px;
    height: 82px;
    font-size: 35px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #1b1041;
}

#cookie-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookie-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cookie-box-plus {
    width: 235px;
    height: 300px;
    border-radius: 12px;
    background-image: url('../images/cookie\ 1\ gif.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookie-box-min {
    width: 235px;
    height: 300px;
    border-radius: 12px;
    background-image: url('../images/botje\ zonder\ grijze\ streep\ gif.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookie-box-start {
    width: 235px;
    height: 300px;
    border-radius: 12px;
    background-image: url('../images/start\ positie\ botje.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookie-box-end {
    width: 235px;
    height: 300px;
    border-radius: 12px;
    background-image: url('../images/eindpositie\ botje.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookie-count-box {
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin: 0;
        width: 28.7px;
        height: 28.7px;
        background-color: #e1e1e1;
    }
}

.cookie-count {
    margin: 0 35.8px;
    width: 69px;
    height: 44px;
    border-radius: 16px;
    border: solid 2.5px #b2dcf4;
    background-color: #ffffff;

    p {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #535353;
    }
}

.control-cookie {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#active-cookie {
    background-color: #ff8974
}

.cookie-btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: 120px;
        height: 35.6px;
        border-radius: 27px;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
        background-color: #a2d5f2;
        border: none;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #191919;
    }
}

#ice-title {
    margin: 20px 80px 0 0;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #535353;
}


.ambulance-box {
    margin: 0 0 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        margin: 0 0 0 20px;
        font-family: 'FontsFree-Net-SFProText-Regular-1';
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #ff7021;
    }
}

.box-text {
    margin: 2px 0 12px 0;
    width: 317px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;

    p {
        margin: 0 0 0 20px;
        font-family: 'FontsFree-Net-SFProText-Regular-1';
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #191919;
    }
}

.box2 {
    height: 59px;
}

.box3 {
    height: 69px;
}

.box4 {
    height: 84px;
}

.dog-ice {
    background-color: #fce6e2;
}

.ice-ice {
    background-color: #eaf7ff;
}

.vet-ice {
    background-color: #f2eefd;
}

.ice-label {
        margin: 0 0 0 20px;
        font-size: 14px;
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: 0.3px;
        color: #1b1041;
        }

.modal-content  {
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important; 
}


.close {
    top: 0 !important;
    margin: -15px 40px 0 0 !important;
}

.modal-header {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

* {
    a {
        color: #535353;
    }
}

.loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-container-guide {
    background-image: url('../images/background-onboarding-opacity.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-container-small {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-container-edit {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-box {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

     img {
         width: 100%;
         height: 100%;
         animation: float 4s ease-in-out infinite;
     }

     p {
         margin: 15px 0 0 0;
         font-size: 18px;
         color: rgb(241, 239, 239);
         font-family: 'FontsFree-Net-SF-Pro-Rounded-Thin';
     }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

