.doghome-container {
    width: 100%;
    height: 100%;
    background-image: url('../images/background-blue.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.nav {
    margin: 0 0 0 11px;
    position: absolute;
    top: 54px;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dogprofile-icon {
    margin: 0 0 0 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/dogspace.svg');
    width: 44px;
    height: 44px;
}

.doghome-icon {
    margin: 0 0 0 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(223, 223, 223);
    width: 67.9px;
    height: 66.8px;
}


.userprofile-icon {
    background-image: url('../images/dogmanager.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.dogspace-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-trackings {
    margin: 151px 0 0 0;
    
    p {
        width: 335px;
        height: 28px;
        font-size: 20px;
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Thin';
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #ffffff;
    }

    span {
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
    }
}

.dogspace-btn-box {
    width: 89.3%;
    height: 371px;
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.walk-btn, .cookie-btn, .ice-btn, .dictionary-btn {
    width: 157px;
    height: 157px;
    border-radius: 15px;
    background-color: #ffffff;
}

.walk-btn {
    background-image: url('../images/undraw-directions-x-53-j.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.cookie-btn {
    background-image: url('../images/undraw-cookie-love-ulvn.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ice-btn {
    background-image: url('../images/undraw-notify-88-a-4-1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.dictionary-btn {
    background-image: url('../images/undraw-book-lover-mkck.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#modal-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: none;
}

#cookie-title {
    margin: 20px 105px 0 20px;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #535353;
}

#cookie-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookie-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cookie-box {
    width: 235px;
    height: 402px;
    border-radius: 12px;
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookie-count-box {
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin: 0;
        width: 28.7px;
        height: 28.7px;
        background-color: #e1e1e1;
    }
}

.cookie-count {
    margin: 0 35.8px;
    width: 69px;
    height: 44px;
    border-radius: 16px;
    border: solid 1.5px #535353;

    p {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #535353;
    }
}

.cookie-btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: 180px;
        height: 54px;
        border-radius: 27px;
        background-color: #535353;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
    }
}

#ice-title {
    margin: 20px 85px 0 0;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #535353;
}


.ambulance-box {
    margin: 0 0 12px 0;

    h1 {
        margin: 0 0 0 20px;
        font-size: 14px;
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: #535353;
    }

    p {
        margin: 0 0 0 20px;
        font-size: 14px;
        font-family: 'FontsFree-Net-SFProText-Regular-1';
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.34px;
        color: #535353;
    }
}

.box-text {
    margin: 2px 0 12px 0;
    width: 319px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;

    p {
        margin: 0 0 0 20px;
        font-size: 14px;
        font-family: 'FontsFree-Net-SFProText-Regular-1';
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.34px;
        color: #535353;
    }
}

.box2 {
    height: 59px;
}

.box3 {
    height: 69px;
}

.box4 {
    height: 84px;
}

.ice-label {
        margin: 0 0 0 20px;
        font-size: 14px;
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: #535353;
}

.modal-content  {
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important; 
}


.close {
    top: 0 !important;
    margin: -15px 40px 0 0 !important;
}

.modal-header {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

* {
    a {
        color: #535353;
    }
}


