.manager-container {
    background-image: url('../images/background-onboarding-opacity.svg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.manager-title {
    margin: 79px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
        width: 335px;
        height: 41px;
        font-size: 35px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
}

.no-managers {
    margin: 30px 0 0 0;
    width: 100%;

    p {
        margin: 0 0 0 20px;
        width: 335px;
        height: 56px;
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Thin';
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #ffffff;
    }
}

.edit-btn {
    width: 25px;
    height: 25px;
    background-image: url('../images/pencil.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.manager-list {
    margin: 30px 0 0 0;
    width: 100%;
    overflow: scroll;
}

.manager-box {
    margin: 0 0 19px 0;
    width: 100%;
    height: 67px;
    display: flex;
    align-items: center;
}

.manager-img-box {
    margin: 0 20px;
    width: 67px;
    height: 67px;
    background-color: white;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manager-name-box {
    height: 67px;

    h2 {
        margin: 0;
        width: 213px;
        height: 27px;
        font-size: 18px;
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
        color: #c3e4f6;
    }

    h3 {
        margin: 0;
        font-family: 'FontsFree-Net-SFProText-Regular-1';
        width: 213px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #ffffff;
    }
}

.add-manager-container{
    background-image: url('../images/background-onboarding-opacity.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    button {
        margin: 30px 0 0 0;
        width: 157.2px;
        height: 45.6px;
        border-radius: 27px;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
        background-color: #a2d5f2;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #191919;
    }
}

.manager-search-box {
    width: 100%;

    input {
        margin: 30px 0 0 20px;
        padding: 0 0 0 20px;
        width: 335px;
        height: 48px;
        border-radius: 10px;
        border: solid 2.5px #b2dcf4;
        background-color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #535353;
        position: absolute;
        z-index: 0;
    }
}

.search-icon {
    position: absolute;
    right: 18px;
    margin: 30px 0 0 0;
    height: 47px;
    width: 51px;
    background-color:#b2dcf4;
    background-image: url('../images/search-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px 35px;
    border-radius: 10px;
    z-index: 2;
}

.manager-box-add {
    margin: 108px 0 19px 0;
    width: 100%;
    height: 67px;
    display: flex;
    align-items: center;
}

.delete-manager{
    width: 29px;
    height: 33px;

    img {
        width: 60%;
        height: 60%;
    }
}

.manager-list-add {
    margin: 120px 0 0 0;
    width: 100%;
    overflow: scroll;
}

#error {
    border: 3px red solid;
}

.error-box {
    margin: 85px 0 0 27px;
    display: flex;
    justify-content: flex-start;
}

.error-message {
    margin: 0;
    color: red;
    font-size: 15px;
}

#error-btn {
    background-color: red;
}

.search-error-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

