 * {
     a {
         text-decoration: none;
     }
 }
 
 .home-container {
    background-image: url('../images/background-onboarding-normal.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-user-box {
    width: 89.4%;
    margin: 57px 0 30px 0;
    display: flex;
    justify-content: flex-end;
}

.user-icon {
    width: 60px;
    height: 60px;
    background-image: url('../images/dogmanager.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 33px;
}

.hidden {
    display: none;
}

.dog-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin: 0;
        width: 335px;
        height: 56px;
        font-size: 20px;
        font-weight: 600;
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Thin';
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #ffffff;
    }
}

.sample-dogspace-img {
    position: fixed;
    width: 29px;
    height: 29px;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.home-add-dog-box {
    margin: 50px 0 0 0;
    width: 100%;
}

.home-or-box {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-or-line {
    width: 111.7px;
    height: 5px;
    background-color: #d8d8d8;
}

.home-or {
    height: 100%;
    display: flex;
    align-items: center;

    p {
        margin: 0;
        width: 111.7px;
        height: 28px;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
}

.home-create-dog-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 50px 0 3px 0;
        width: 335px;
        height: 41px;
        font-size: 35px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #ffffff;
    }

    p {
        margin: 0;
        width: 335px;
        height: 84px;
        font-size: 20px;
        font-weight: 600;
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Thin';
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #ffffff;
    }

    button {
        margin: 50px 0 0 0;
        width: 335px;
        height: 51px;
        border-radius: 28px;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
        background-color: #a2d5f2;
        font-size: 18px;
        font-weight: 600;
        border: none;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #191919;
        display: flex;
        align-items: center;
        justify-content: flex-start;

    }
}

.add-dogspace-box {
    margin: 0 0 0 10px;
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.dogspace-box {
    margin: 0 0 15px 0;
    width: 335px;
    height: 51px;
    border-radius: 28px;
    background-color: #ff7e67;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h1 {
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
}

.dogspace-subbox {
    margin: 0 0 0 17.5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sample-dogspace-box {
    margin: 0 0 56px 0;
    width: 335px;
    height: 51px;
    border-radius: 28px;
    opacity: 0.50;
    background-color: #c56e5f;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h1 {
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
}

.sample-dogspace-subbox {
    margin: 0 0 0 17.5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coworker {
    margin: 0 20px 0 0;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #535353;
}

.owner {
    margin: 0 40px 0 0;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #535353;
}

.dogspace-img-box {
    position: fixed;
    width: 29px;
    height: 29px;
    background-color: #939393;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    img {
        width: 100%;
    }
}

.asterix-owner {
    margin: 0 0 20px 20px;
    width: 12px;
    height: 10px;
    border: solid 0.2px #979797;
    background-image: url('../images/astrix.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    z-index: 1;
    position: relative;
}

.asterix {
    margin: 0 0 20px 20px;
    width: 10px;
    height: 10px;
    border: solid 0.2px #979797;
    background-image: url('../images/astrix.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    z-index: 1;
    position: relative;
}

.add-dogspace-img {
    margin: 0 60px 0 0;
    width: 29px;
    height: 29px;
    background-color: #ffffff;
    background-image: url('../images/plus-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.oeps {
    width: 335px;
    height: 41px;
    font-size: 35px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #ffffff;
}

.sample {
    margin: 0 0 0 120px;
}