.background-onboarding {
    width: 100%;
    height: 100%;
    background-image: url('../images/background-onboarding.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.index-illustration {
        margin: 70px 0 0 0;
        width: 100% !important;
        height: 550px;
        background-image: url('../images/undraw-outer-space-drqu.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        button {
            margin: 475px 0 32px;
            width: 335px;
            height: 51px;
            border-radius: 28px;
            box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
            border: none;
            background-color: #a2d5f2;
            font-size: 18px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            text-align: center;
            color: #191919;
        }
    
        p {
            width: 201px;
            height: 16px;
            font-size: 14px;
            font-family: 'FontsFree-Net-SF-Pro-Rounded-Thin';
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }
    
        a {
            text-decoration: none;
            color: #ff9582;
        }
    
        span {
            font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
        }
}

.index-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.dogspace-logo {
    margin: -5px 0 0 -11px;
    width: 207px;
    height: 48px;
    object-fit: contain;
    font-family: 'Funbold';
    background-image: url('../images/dogspace-logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

.index-title-box {
    margin: 0 0 -40px 40px;
    width: 95%;

    h2 {
        margin: 5px 0 0 -11px;
        width: 335px;
        height: 24px;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #d4ebf9;
    }
}
