.signup-container {
    background-image: url('../images/background-onboarding.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    a {
        color: black;
    }
}

.signup-back-box {
    width: 89.4%;
    margin: 57px 0 40px 0;
}

.signup-title {
    margin: 0;
    width: 335px;
    height: 41px;   
    font-size: 35px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #ffffff;
}

.dogspace-logo3 {
    margin: 0 7px 0 0;
    width: 88px;
    height: 20px;
    background-image: url('../images/dogspace-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.signup-subtitle {
    margin: 2px 0 19px 0;
    height: 28px;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #d4ebf9;
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

.sign-part-1{
    display: flex;
    flex-direction: column;
    width: 89.3%;

    form {
        display: flex;
        flex-direction: column;
    
        label {
            margin: 30px 0 10px 0;
            width: 167.5px;
            height: 16px;
            font-size: 14px;
            font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: 0.3px;
            color: #ffffff;
        }
    }

    .signup-tos {
        margin: 34px 0 0 0;
        height: 16px;
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Thin';
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
    }

    span {
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
        color: #ff9582;
    }
}

.signup-subtitle2 {
    margin: 5px 0 25px 0;
    height: 56px;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #d4ebf9;
    display: flex;
    align-items: center;
}

.subtitle-container {
    display: flex;
    align-items: flex-start;
}

.dogspace-logo4 {
    margin: 12px 0 0 6px;
    width: 71px;
    height: 16px;
    background-image: url('../images/dogspace-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.sign-part-2 {
    display: flex;
    flex-direction: column;
    width: 89.3%;

    form {
        margin: 16px 0 0 0;
        display: flex;
        flex-direction: column;


        label {
            margin: 30px 0 10px 0;
            font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: 0.3px;
            color: #ffffff;
        }
    }
}

.inputText {
    padding: 0 0 0 20px;
    margin: 0;
    width: 335px;
    height: 50px;
    border-radius: 10px;
    border: solid 2.5px #b2dcf4;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #535353;
}


.signup-btn-box {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        width: 162.4px;
        height: 45.6px;
        border-radius: 27px;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
        background-color: #a2d5f2;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #191919;
    };

    button:disabled {
        background-color: #e1e1e1;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e1e1e1;
  }

  .signup-avatar-container {
      margin: 0 0 20px 0;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-around;
  }

  #signup-avatar-label {
      margin: 30px 0 20px 0;
  }

  .signup-avatar-option {
      margin: 10px 0 0 0;
      display: flex;
      flex-direction: column;
     
      label {
          margin: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      input {
          background-color: white;
          width: 15px;
          height: 15px;
      }
  }

  .signup-avatar-box {
      margin: 0 0 15px 0;
      width: 85px;
      height: 85px;
      background-color: #d8d8d8;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
          width: 100%;
          height: auto;
      }
  }
  
