.tracker-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trackings {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 14px;
        font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
        font-stretch: normal;
        font-style: normal;
        line-height: 1.93;
        letter-spacing: 0.23px;
        color: #a2d5f2;
    }
}