* {
    a {
        text-decoration: none;
    }
}

.userprofile-container {
    background-image: url('../images/background-orange.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.nav-profile {
    width: 100%;
    position: absolute;
    top: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empty {
    width: 30.4px;
    height: 29.9px;
}

.userprofile-icon-big {
    background-image: url('../images/dogmanager.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 33px;
    width: 70px;
    height: 70px;
}

.doghome-icon-small {
    margin: 0 15px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-image: url('../images/profile.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.user-profile-info-box {
    margin: 151px 0 0 0;
    width: 100%;
    height: 161px;
    border-bottom: solid 1.5px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-profile-img {
    width: 111px;
    position: fixed;
    right: 15px;
    top: 151px;
    height: 111px;
    background-color: white;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
    }
}

.asterix-owner-big {
    margin: 0 10px 100px 0;
    width: 20px;
    height: 20px;
    border: solid 0.2px #979797;
    background-image: url('../images/astrix.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    z-index: 1;
    position: relative;
}


.user-profile-info {
    margin: 0 110px 50px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    h1 {
        margin: 0;
        width: 100%;
        height: 41px;
        font-size: 30px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: right;
        color: #b2dcf4;
    }

    h2 {
        margin: 0;
        font-family: 'FontsFree-Net-SFProText-Regular-1';
        width: 203px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
    }
}

.edit-userprofile-container {
    position: absolute;
    top: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    background-image: url('../images/background-orange.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.label-profile {
    margin: 32px 0 10px 20px;
    font-family: 'FontsFree-Net-SF-Pro-Rounded-Bold';
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.3px;
    color: #ffffff;
}

.text-input-profile {
        margin: 0 0 0 20px;
        padding: 0 0 0 20px;
        width: 335px;
        height: 48px;
        border-radius: 10px;
        border: solid 2.5px #b2dcf4;
        background-color: #ffffff;
        font-family: 'FontsFree-Net-SFProText-Regular-1';
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.43px;
        color: #535353;
}

.edit-user-title {
    margin: 79px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
        font-size: 35px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
}

.avatar-option-box {
    margin: 30px 0 0 20px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.avatar-small-box {
    display: flex;
    flex-direction: column;

    label {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        margin: 17px 0 0 0;
        background-color: white;
        width: 15px;
        height: 15px;
    }
}

.avatar-big-box {
    display: flex;
    flex-direction: column;

    label {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        margin: 17px 0 0 0;
        background-color: white;
        width: 15px;
        height: 15px;
    }
}

.avatar-small {
    width: 85px;
    height: 85px;
    background-color: #d8d8d8;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: auto;
    }
}

.avatar-big {
    width: 111px;
    height: 111px;
    background-color: #d8d8d8;
    border: 3px solid white;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: auto;
    }
}

.btn-box {
    position: absolute;
    bottom: 99px;
    width: 89.3%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: 164px;
        height: 45.6px;
        border-radius: 27px;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
        background-color: #a2d5f2;
        font-size: 18px;
        font-weight: 600;
        border: none;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #191919;
    }
}

